.search-list-item-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.search-list-item-box:hover{
  border: 1px solid black;
}

.snr-string{
  display: flex;
  align-items: center;
  width: 85%;
  text-align: left;
}
.snr-string-80{
  display: flex;
  align-items: center;
  width: 80%;
  text-align: left;
}
.snr-string-medium{
  display: flex;
  align-items: center;
  width: 76%;
  text-align: left;
}
.snr-string-short{
  display: flex;
  align-items: center;
  width: 45%;
  text-align: left;
}
.snr-count{
  display: flex;
  align-items: center;
  width: 10%;
  text-align: right;
}
.snr-count-long{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 15%;
  padding-left: 5px;
  text-align: left;
}
.snr-count-short{
  display: flex;
  align-items: center;
  width: 8%;
  text-align: right;
}
.snr-city{
  display: flex;
  align-items: center;
  width: 35%;
  text-align: left;
}
.snr-ignore{
  display: flex;
  align-items: center;
  width: 5%;
}
img{
  max-width: 90%;
  height: 20px;
  aspect-ratio: 1;
  padding: 2px;
}
