.counter-box{
  background-color: white;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter-box:hover{
  background-color: #d7bebe;
}

.counter-box-center{
  text-align: center;
}
.counter-number{
  font-weight: bolder;
  font-size: 3vw;
}
.counter-desc{
  font-size: 1.3vw;
  color: #951D40;
}
.counter-details{

}


:host.normal{
  grid-area: span 1 / span 1;
}
:host.double{
  grid-area: span 2 / span 2;
}
:host.big{
  grid-area: span 2 / span 1;
}
:host.double-big{
  grid-area: span 3 / span 2;
}
