.seo-keywords-list-item-box-nohover{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.seo-keywords-list-item-box:hover{
  border: 1px solid black;
}

.seo-keywords-imp{
  display: flex;
  width: 20%;
  text-align: left;
}
.seo-keywords-name{
  width: 60%;
  text-align: center;
}
.seo-keywords-clicks{
  display: flex;
  width: 20%;
  text-align: right;
}
.seo-keywords-more{
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.seo-keywords-url{
  display: flex;
  width: 80%;
  text-align: left;
}
.seo-keywords-ctr{
  display: flex;
  width: 20%;
  text-align: right;
}
img {
  height: 20px;
  aspect-ratio: 1;
  margin-right: 2px;
}
p{
  padding-top: 2px;
  margin: 0;
}
