.external-services-list-item-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.external-services-list-item-name{
  width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
}
.external-services-list-item-check{
  display: flex;
  width: 32px;
}
img {
  height: 30px;
  aspect-ratio: 1;
  margin-right: 2px;
}
p{
  margin: 0;
}
.hidden{
  display: none !important;
}
.external-service-iframe-container{
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  border: 2px solid #808080;
  border-radius: 5px;
  padding: 0 5px 5px 5px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  overflow: clip;
  z-index: 10000;
}
.external-service-iframe{
  height: 100%;
  width: 100%;
}
