.login-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-header{
  font-size: xx-large;
}
.login-button{
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #951D40;
}
