.login-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-header{
  font-size: xx-large;
  margin-bottom: 10px;
}

form{
  display: flex;
  flex-direction: column;
}
form > input{
  margin-bottom: 10px;
  font-size: large;
}
#login-submit-label{
  color: red;
}

#login-submit{
  border: 1px solid #ffffff00;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #951D40;
}
#login-submit:hover{
  border: 1px solid black;
  box-sizing: border-box;
}
#login-submit:active{
  border: 1px solid black;
  box-sizing: border-box;
  color: #7a1833;
}
