<dash-header (selected)="select($event)" >

</dash-header>
<div [ngSwitch]="selected">
  <div *ngSwitchCase="'Kennzahlen'">
    <dash-page-login (login_success)="select('Einzelstatistiken')"></dash-page-login>
  </div>
  <div *ngSwitchCase="'Admin'">
  <dash-page-kennzahlen></dash-page-kennzahlen>
  </div>
  <div *ngSwitchCase="'Einzelstatistiken'">
    <dash-page-einzel></dash-page-einzel>
  </div>
  <div *ngSwitchDefault>
    <dash-page-einzel></dash-page-einzel>
  </div>
</div>
<div class="page-footer">

</div>

