dash-page{
  display: block;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
}
dialog-sure{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px
}

@media print {
  dash-page{
    display: block;
    height: 100vh;
    overflow-y: visible;
    overflow-x: visible;
  }
}
