<dash-header>

</dash-header>
<div class="page-content">
  <!--<button id="companie-list-toggle" (click)="this.companyListShown = !this.companyListShown">Toggle Company-List</button>
  <dash-company-lister *ngIf="this.companyListShown"></dash-company-lister>-->

  <dash-chart class="grid-1-1-2-2" chartType="polarArea" desc="Beiträge pro Thema" [data]="[3, 1, 2, 6]"></dash-chart>
  <dash-chart class="grid-1-3-1-4" chartType="bar" desc="Beiträge pro Schema" [data]="[1, 3, 6, 2]"></dash-chart>
  <dash-chart class="grid-2-3-2-4" chartType="line" desc="Beiträge pro Lema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-counter class="grid-3-3-3-3" number="90.5%" desc="SSR"></dash-counter>
  <dash-counter class="grid-2-5-2-5" number="13.620" desc="Clicks"></dash-counter>
  <dash-chart class="grid-3-1-4-2" chartType="doughnut" desc="Beiträge pro Gema" [data]="[2, 6, 3, 1]"></dash-chart>
  <dash-chart class="grid-1-5-1-6" chartType="bubble" desc="Beiträge pro LeLema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="grid-cell-quad" chartType="line" desc="Beiträge pro KaLema" [data]="[1, 2, 3, 6]"></dash-chart>
</div>

