dash-page{
  display: block;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media print {
  dash-page{
    display: block;
    height: 100vh;
    overflow-y: visible;
    overflow-x: visible;
  }
}
