<dash-header (selected)="select($event)" >

</dash-header>
<div [ngSwitch]="selected">
  <div *ngSwitchCase="'Kennzahlen'">
    <dash-page-kennzahlen></dash-page-kennzahlen>
  </div>
  <div *ngSwitchCase="'Themen'">
  <dash-page-tag></dash-page-tag>
  </div>
  <div *ngSwitchCase="'Einzelstatistiken'">
    <dash-company-lister [searchValue]="searchValue"  (selectedCompany)="selectCompany($event)"></dash-company-lister>
  </div>
  <div *ngSwitchDefault>
    <dash-page-tag></dash-page-tag>
  </div>
</div>
<div class="page-fooder">

</div>

