.podium-box{
  text-align: center;
  font-weight: bold;
}

.podium-layout {
  display: flex;
  height: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.podium-layout > div > img {
  width: 100%;
}
.podium-1{
  width: 29%;
}
.podium-2{
  width: 23%;
}
.podium-3 {
  width: 23%;
}
.podium-desc{
  font-size: 1.2vw;
}
