<div class="component-box forum-stats-box">
  <div class="forum-stats-content">
    <div class="forum-stat forum-stat-forum">
      <div class="forum-stat-title">Foren</div>
      <div class="forum-stat-data">
        <div class="forum-stat-data-item" *ngFor="let forum of data.forums" [innerText]="forum.name +' : ' + forum.count"
             [style.color]="Util.getColorByThreshold(forum.count, 10)"
             (click)="selectStat(forum)"></div>
      </div>
    </div>
    <div class="forum-stat forum-stat-cat">
      <div class="forum-stat-title">Kategorien</div>
      <div class="forum-stat-data">
        <div class="forum-stat-data-item" *ngFor="let cat of data.cats" [innerText]="cat.name +' : ' + cat.count"
             [style.color]="Util.getColorByThreshold(cat.count, 10)"
             (click)="selectStat(cat)"></div>
      </div>
    </div>
    <div class="forum-stat">
      <div class="forum-stat-title">Themen</div>
      <div class="forum-stat-data">
        <div class="forum-stat-data-item" *ngFor="let topic of data.topics" [innerText]="topic.name +' : ' + topic.count"
             [style.color]="Util.getColorByThreshold(topic.count, 10)"
             (click)="selectStat(topic)"></div>
      </div>
    </div>
  </div>
</div>
