.forum-stats-content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  box-sizing: border-box;
}
.forum-stat{
  display: flex;
  width: 100%;
  height: 63%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: .9em;
}
.forum-stat-forum{
  height: 10%;
  font-size: 1em;
}
.forum-stat-cat{
  height: 27%;
  font-size: 1em;
}
.forum-stat-title{
  width: fit-content;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}
.forum-stat-data{
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: clip;
}
.last-child{
  border-bottom: 1px solid #80808000;
}
.forum-stat-data-item{
  border: 1px solid #00000000;
  border-bottom: 1px solid #808080;
}
.forum-stat-data-item:hover{
  border: 1px solid black;
  border-radius: 5px;
}

