<div class="component-box forum-stats-box">
  <div class="forum-stats-content">
    <div class="forum-stat">
      <div class="forum-stat-title">Foren</div>
      <div class="forum-stat-data"><div *ngFor="let forum of data.forums">{{forum.name}} : {{forum.count}}</div></div>
    </div>
    <div class="forum-stat">
      <div class="forum-stat-title">Kategorien</div>
      <div class="forum-stat-data"><div *ngFor="let cat of data.cats">{{cat.name}} : {{cat.count}}</div></div>
    </div>
    <div class="forum-stat">
      <div class="forum-stat-title">Themen</div>
      <div class="forum-stat-data"><div *ngFor="let topic of data.topics">{{topic.name}} : {{topic.count}}</div></div>
    </div>
  </div>
</div>
