.user-clicks-chart-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.post-chart-form{
  display: flex;
  width: calc(100% - 45px);
  height: 30px;
  padding: 5px;
  position: relative;
}
.chart-canvas-box{
  display: flex;
  height: calc(100% - 40px);
  width: 100%;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  padding: 5px;
}

select{
  box-sizing: border-box;
  max-width: 35%;
  min-width: 25%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #808080;
}

select:focus-visible{
  box-sizing: border-box;
  outline-style: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

input[type="radio"]{
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  margin: 0;
  border: 1px solid #808080;
  width: 20%;
  height: 100%;
  display: grid;
  place-content: center;
}
input[type="radio"]:hover{
  border: 1px solid black;
}
input[type="radio"]::before{
  content: "Immer";
  color: #808080;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
}
input[type="radio"]::after{
  content: "Immer";
  color: #951D40;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
#post-range-halfyear::before{
  content: "Halb-Jahr";
}
#post-range-halfyear::after{
  content: "Halb-Jahr";
  color: #951D40;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
#post-range-month::before{
  content: "Monat";
}
#post-range-month::after{
  content: "Monat";
  color: #951D40;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
#post-range-week::before{
  content: "Woche";
}
#post-range-week::after{
  content: "Woche";
  color: #951D40;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
input[type="radio"]:checked::before{
  color: #808080;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  position: fixed;
  bottom: 0;
}
input[type="radio"]:checked::after{
  color: #951D40;
  transform: scale(1) !important;
  transition: 120ms transform ease-in-out;
  position: inherit !important;
}
#post-range-week{
  border-radius: 0 5px 5px 0;
}

@media print {
  .post-chart-form{
    display: flex;
    width: 100%;
    height: 30px;
    padding: 5px;
    position: relative;
  }
  input[type="radio"]{
    display: none;
  }
  select{
    box-sizing: border-box;
    width: 100%;
  }

}
