<div class="component-box post-list-box">
  <form class="post-type-form">
    <input type="text" id="post-search" placeholder="Post suchen">
    <input type="radio" id="post-type-all" name="type" value="O" checked>
    <input type="radio" id="post-type-article" name="type" value="A">
    <input type="radio" id="post-type-blog" name="type" value="B">
    <input type="radio" id="post-type-news" name="type" value="N">
  </form>
  <div class="post-list-selector-container">
    <dash-selector [columnsForm]="'1fr'" padding="0 5px" [zebraColorMode]="true" [dataLoaded]="selectorItemsLoaded"></dash-selector>
  </div>
  <div id="shadow"></div>
</div>
