.external-services-list-header{
  display: flex;
  width: calc(100% - 45px);
  height: 30px;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  left: 5px;
  top: 5px;
}
.external-services-list-title{
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 5px;
}
.external-services-list-title > p {
  margin: 0;
  width: 100%;
  text-align: center;
}

.external-services-list-selector-container{
  margin-left: 5px;
  margin-top: 7px;
  height: calc(100% - 47px);
  width: calc(100% - 8px);
}
#shadow {
  position: relative;
  left: 5px;
  top: -8px;
  width: calc(100% - 17px);
  height: 10px;
  box-shadow: inset 0 -10px 10px -10px #EEE;
  border-radius: 5px;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #EFEFEF;
  border-radius: 5px;
}
.external-services-list-selector-container dash-selector{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
