<div class="component-box forum-profanity-filter-adder-box">
  <div class="forum-profanity-filter-adder-title">Wortfilter</div>
  <div class="forum-profanity-filter-adder-container">
    <form name="word" class="forum-profanity-filter-adder-form" (ngSubmit)="onSubmit()">
      <input id="profanity-filter-input" name="word" type="text" placeholder="Zu Filterndes Wort" autocomplete="off" required minlength="3">
      <input id="profanity-filter-submit" name="word" type="submit">
    </form>
    <div class="forum-profanity-filter-adder-list-box">
      <div id="profanity-list" class="forum-profanity-filter-adder-list"><span id="profanity-list-items">{{badWords}}</span></div>
      <input id="profanity-list-visibility" type="checkbox" title="Verbotene Wörter zeigen / verbergen" (change)="onProfanityClick()">
    </div>
  </div>
</div>
