<div class="component-box newsletter-stats-box">
  <div class="verified-box">
    <div class="number-box" [style]="{color: DashColors.RED}">
      <p class="number-m"></p>
      <p class="number-xl" [style]="{width: 'fit-content'}">{{Util.formatNumbers(verified)}}</p>
      <p class="number-m" [style]="{textAlign: 'start'}">{{verified_today >= 0 ? "+" + verified_today : "-" + verified_today}}</p>
    </div>
    <p>Newsletter Abonnenten</p>
  </div>
  <div class="verified-box">
    <div class="number-box" [style]="{color: DashColors.BLUE}">
      <p class="number-m"></p>
      <p class="number-xl" [style]="{width: 'fit-content'}">{{Math.round(openRate * 100)}}</p>
      <p class="number-m" [style]="{textAlign: 'start'}">%</p>
    </div>
    <p>Öffnungsrate</p>
  </div>
</div>
