<div class="component-box post-box">
  <div class="post-select-info">
    <p id="selected-post-identifier">{{post.type}}</p>
    <div id="remove" (click)="removePost()">X</div>
  </div>
  <div class="post-details">
    <div class="post-detail">
      <div class="post-label">Titel</div>
      <p>{{post.title}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Themen</div>
      <p>{{post.tags}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Clicks</div>
      <p>{{post.clicks}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Performance</div>
      <p>{{post.performance.toFixed()}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Relevanz</div>
      <p>{{post.relevance.toFixed()}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Weiterleitungsrate</div>
      <p>{{post.referrings}}%</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Erfolgreiche Suchanfragen</div>
      <p>{{post.searchSuccessRate}}%</p>
    </div>
  </div>
</div>
