<div class="component-box post-box">
  <div class="post-select-info">
    <p id="selected-post-identifier">{{post.type}}</p>
  </div>
  <div class="post-details">
    <div class="post-detail">
      <div class="post-label">Titel</div>
      <p>{{post.title}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Datum</div>
      <p>{{formattedDate}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Themen</div>
      <p>{{formattedTags}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Clicks</div>
      <p>{{post.clicks}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Performance</div>
      <p>{{formattedPerformance.toFixed()}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Relevanz</div>
      <p>{{formattedRelevanz.toFixed()}}</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Weiterleitungsrate</div>
      <p>{{post.referrings.toFixed()}}%</p>
    </div>
    <div class="post-detail">
      <div class="post-label" >Clicks durch Suchanfragen</div>
      <p>{{formattedSSR.toFixed()}}%</p>
    </div>
  </div>
</div>
