.relevance-box{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}
canvas{
  max-width: 80%;
  max-height: 80%;
}

.relevance-post-name{
  padding-top: 5px;
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 120%;
}
