<div id="searchbar-box" class="searchbar-box" [ngSwitch]="selectedSearch.id" [ngStyle]="{'height': displaySearchBox}">

  <div *ngSwitchCase="0" class="searchbar-switch searchbar-input-box">
    <div class="searchbar-filter" id="searchbar-compare-button">
      <img src="assets/filter_icon.png">
    </div>
    <input #search search id="userSearch" class="searchbar" type="text" (keydown)="onKey($event)" (input)="onInput(search.value)" placeholder="Suchen" autocomplete="off" autofocus><br>
    <div id="searchSuggestions">
      <div class="searchSuggestion" (click)="onSuggestionClick(post)" *ngFor="let post of getSuggestions(search.value, this.selected_post_type); let i = index;"
           (mouseover)="onMouseOver(i)" [ngClass]="{'selected' : i === selectedIndex}">{{post}}</div>
    </div>
  </div>

  <div id="searchbar-filter-box">
    <div id="searchbar-filter">
      <div id="searchbar-filter-accountType-label">Filtern:</div>
      <div id="searchbar-filter-accountType" class="searchbar-filter-type">Art: {{selectedPostTypeString}}
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-news">News</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-blog">Blog</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-article">Artikel</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-whitepaper">Whitepaper</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-podcast">Podcast</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-video">Video</div>
        <div class="searchbar-filter-post-type inputButton" id="searchbar-filter-postType-all">Alle</div>
      </div>
    </div>
    <div id="searchbar-sorter">
      <div id="searchbar-sorter-by-label inputButton">Sortieren:</div>
      <div id="searchbar-sorter-views inputButton">Aufrufe</div>
      <div id="searchbar-sorter-uid inputButton">Erstellungsdatum</div>
    </div>
    <input id="searchbar-dir" type="checkbox" name="search-dir" value="DESC" (change)="onDirSwitched($event)">
  </div>

</div>
