.searchbar-box{
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  z-index: 11;
  height: 50px;
  left: 0;
  right: 0;
  border-radius: 5px;
}
.searchbar-switch{
  grid-row: 1;
  grid-column: 1;
}

.searchbar-selection-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 60px;
  z-index: 11;

  height: 40px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}
.searchbar-input-box{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  flex-direction: row;

  height: 50px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  width: fit-content;
}
.searchbar{
  font-size: 25px;
  border-radius: 0 5px 5px 0;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-left: 0;
}

.searchbar-filter{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-radius: 5px 0 0 5px;
}
.searchbar-filter > img{
  object-fit: contain;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

p {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}
button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
#searchbar-filter-box{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-radius: 5px;
  background: #FFFFFF;
  height: 50px;
  margin-left: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  text-align: center;
}

#searchbar-filter{
  display: grid;
  width: 50%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: max-content repeat(6, auto);
  padding-left: 2.5px;
}
#searchbar-filter > div{
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 5px 2.5px;
  padding-top: 8.5px;
}
#searchbar-filter > div:hover{
  border: 1px solid black;
}

#searchbar-filter-accountType-label{
  border: none !important;
}
#searchbar-filter-accountType-label:hover{
  border: none !important;
}

#searchbar-sorter{
  display: grid;
  width: 50%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: max-content repeat(3, auto);
  padding-right: 2.5px;
}
#searchbar-sorter > div{
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 5px 2.5px;
  padding-top: 8.5px;
}
#searchbar-sorter > div:hover{
  border: 1px solid black;
}

#searchbar-sorter-by-label{
  border: none !important;
}
#searchbar-sorter-by-label:hover{
  border: none !important;
}
