.searchbar-box{
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  z-index: 11;
  height: 50px;
  left: 0;
  right: 0;
  border-radius: 5px;
}
#searchSuggestions{
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 50px;
  margin: 0;
  z-index: 10;
  max-height: 250px;
  left: 0;
  right: 50%;
  top: 50px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.searchSuggestion{
  padding-left: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.selected{
  border: 1px solid black;
}

.searchbar-switch{
  grid-row: 1;
  grid-column: 1;
}

.searchbar-selection-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 60px;
  z-index: 11;

  height: 40px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}
.searchbar-input-box{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  flex-direction: row;

  height: 50px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  width: fit-content;
}
.searchbar{
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-left: 0;
}

.searchbar-filter{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-radius: 5px 0 0 5px;
}
.searchbar-filter > img{
  object-fit: contain;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

p {
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
}
button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
#searchbar-filter-box{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #A0A0A0;
  border-radius: 5px;
  background: #FFFFFF;
  height: 50px;
  margin-left: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  text-align: center;
  font-size: 14px;
}

#searchbar-filter{
  display: grid;
  width: 50%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: max-content repeat(3, auto);
  grid-column-gap: 5px;
  padding-left: 2.5px;
}
.searchbar-filter-type{
  z-index: 11;
  display: grid;
  width: 100%;
  min-height: 36px;
  height: fit-content;
  box-sizing: border-box;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, auto);
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 5px 2.5px;
  padding-top: 8.5px;
  background-color: white;
}

.searchbar-filter-type > div{
  z-index: 11;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 2.5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  display: none;
}
#searchbar-filter > div:hover{
  border: 1px solid black;
}
.searchbar-filter-type > div:hover{
  border: 1px solid black;
}

#searchbar-filter-accountType-label{
  padding-top: 13.5px;
  border: none !important;
}
#searchbar-filter-accountType-label:hover{
  border: none !important;
}

#searchbar-sorter{
  display: grid;
  width: 50%;
  height: 100%;
  grid-template-rows: auto;
  grid-template-columns: max-content repeat(4, auto);
  padding-right: 2.5px;
}
#searchbar-sorter > div{
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  margin: 5px 2.5px;
  padding-top: 8.5px;
}
#searchbar-sorter > div:hover{
  border: 1px solid black;
}

#searchbar-sorter-by-label{
  border: none !important;
}
#searchbar-sorter-by-label:hover{
  border: none !important;
}


input[type="checkbox"]{
  margin-top: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #808080;
  width: 100%;
  height: calc(100% - 10px);
  display: grid;
  place-content: center;
}
input[type="checkbox"]:hover{
  border: 1px solid black;
}
input[type="checkbox"]::before{
  content: "ᐁ";
  color: #808080;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
}
input[type="checkbox"]::after{
  content: "ᐃ";
  color: #951D40;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
input[type="checkbox"]:checked::before{
  color: #808080;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  position: fixed;
  bottom: 0;
}
input[type="checkbox"]:checked::after{
  color: #951D40;
  transform: scale(1) !important;
  transition: 120ms transform ease-in-out;
  position: inherit !important;
}

#searchbar-dir{
  max-width: 5%;
}
