<div id="searchbar-box" class="searchbar-box" [ngSwitch]="selectedSearch.id" [ngStyle]="{'height': displaySearchBox}">

  <div *ngSwitchCase="0" class="searchbar-switch searchbar-input-box">
    <div class="searchbar-filter" id="searchbar-compare-button" (click)="onCompareClick()">
      <img src="assets/filter_icon.png">
    </div>
    <input #search search class="searchbar" type="text" (keydown)="onEnter($event.key)" (input)="onKey(search.value)" placeholder="Suchen"><br>
    <div id="searchSuggestions">
      <div class="searchSuggestion" (click)="onSuggestionClick(user)" *ngFor="let user of getSuggestions(search.value, this.selected_account_filter, this.selected_user_filter)">{{user}}</div>
    </div>
  </div>

  <div id="searchbar-filter-box">
    <div id="searchbar-filter">
      <div id="searchbar-filter-accountType-label">Filtern:</div>
      <div id="searchbar-filter-accountType" class="searchbar-filter-type">Abo: {{selectedAccFilterString}}
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-without-plan">Ohne Abo</div>
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-basic">Basis</div>
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-basicPlus">Basis+</div>
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-plus">Plus</div>
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-premium">Premium</div>
        <div class="searchbar-filter-acc-type" id="searchbar-filter-accountType-all">Alle</div>
      </div>
      <div id="searchbar-filter-userType" class="searchbar-filter-type">Typ: {{selectedUsrFilterString}}
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-startup">Startup</div>
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-middle">Mittelstand</div>
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-corporate">Großkonzern</div>
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-uni">Hochschule</div>
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-collective">Verband</div>
        <div class="searchbar-filter-usr-type" id="searchbar-filter-userType-all">Alle</div>
      </div>
    </div>
    <div id="searchbar-sorter">
      <div id="searchbar-sorter-by-label">Sortieren:</div>
      <div id="searchbar-sorter-views">Profil Aufrufe</div>
      <div id="searchbar-sorter-content-views">Inhalts Aufrufe</div>
      <div id="searchbar-sorter-views-by-time">Tägliche Aufrufe</div>
      <div id="searchbar-sorter-uid">Erstellungsdatum</div>
    </div>
  </div>

</div>
