.tag-list-box{

}
.tag-search-form{
  display: flex;
  width: calc(100% - 10px);
  height: 30px;
  padding: 5px;
}
input[type="text"]{
  box-sizing: border-box;
  min-width: 55%;
  max-width: 75%;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}
input[type="text"]:focus-visible{
  outline-style: none;
  border-radius: 5px 0 0 5px;
  border: 2px solid black;
}

input[type="radio"]{
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  margin: 0;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
input[type="radio"]:hover{
  border-width: 2px;
}
input[type="radio"]::before{
  content: "Perf";
  color: #A0A0A0;
  border-radius: 0 1px 1px 0;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
}
input[type="radio"]::after{
  content: "Perf";
  color: #951D40;
  border-radius: 0 1px 1px 0;
  transform: scale(0);
  position: fixed;
  bottom: 0;
}
#tag-sort-a::before{
  content: "Anz";
}
#tag-sort-a::after{
  content: "Anz";
}

input[type="radio"]:checked::before{
  color: #A0A0A0;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  position: fixed;
  bottom: 0;
}
input[type="radio"]:checked::after{
  color: #951D40;
  transform: scale(1) !important;
  transition: 120ms transform ease-in-out;
  position: inherit !important;
}

#tag-sort-a{
  border-radius: 0 5px 5px 0;
}

.tag-list-selector-container{
  margin-left: 5px;
  height: calc(100% - 47px);
  width: calc(100% - 8px);
  overflow-y: auto;
}
#shadow {
  position: relative;
  left: 5px;
  top: -8px;
  width: calc(100% - 17px);
  height: 10px;
  box-shadow: inset 0 -10px 10px -10px #EEE;
  border-radius: 5px;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #EFEFEF;
  border-radius: 5px;
}
