.user-box{
  height: 100px;
  padding: 5px;
  margin: 5px;

  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 33px 33px 33px;
  grid-column-gap: 10px;

  background-color: white;
  border-radius: 5px;
}
.user-box:hover{
  background-color: #EFEFEF;
}

.user-img-box {
  grid-row: 1 / span 3;
  grid-column: 1;
  height: 100px;
  width: 100px;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #EFEFEF;
}

.user-name-box{
  grid-row: 1;
  grid-column: 2;
  font-size: large;
  display: flex;
  align-items: center;
}
.user-type-box{
  grid-row: 2;
  grid-column: 2;
  font-style: italic;
}
.user-email-box{
  grid-row: 3;
  grid-column: 2;
  display: flex;
  align-items: end;
}
.user-post-count-box{
  grid-row: 1;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: end;
}
p{
  margin: 0;
}
