<div class="user-box" (click)="onClick()">
  <img alt="" [src]="getUserImg()">
  <div class="user-name-box">
    <p>{{data.displayName}}</p>
  </div>
  <div class="user-type-box">
    <p>{{data.accountType}}</p>
  </div>
  <div class="user-potential-box">
    <div class="potential-background">
      <div class="potential-value" [style.width]="data.potential+'%'"></div>
    </div>
  </div>
  <div class="user-email-box">
    <p>{{data.email}}</p>
  </div>
  <div class="user-post-count-box">
    <p>Posts: {{data.postCount}}</p>
  </div>
  <div class="user-performance-box">
    <img [src]="'assets/performance_icon_' + data.performance + '.png'" alt="performance indicator">
  </div>
</div>
