<div class="component-box forum-moderation-display-box">
  <div class="forum-moderation-display-title"><p>Moderation</p></div>
  <div [style.border-color]="isLockedColor()" class="post-details">
    <div class="post-detail-group-2">
      <div class="post-detail">
        <div class="post-label">Forum</div>
        <div title="zum Forum" class="forum-link"><a [href]="this.postLinks[0]" target="_blank">🔗</a></div>
        <p>{{data.forum}}</p>
      </div>
      <div class="post-detail">
        <div class="post-label">Frage</div>
        <div title="zur Frage" class="forum-link"><a [href]="this.postLinks[1]" target="_blank">🔗</a></div>
        <p>{{data.topic}}</p>
      </div>
    </div>
    <div class="post-detail-group-4">
      <div [style.border-color]="getRatingColor(data.preRatingSwearing, 'User')" class="post-detail">
        <div [style.color]="getRatingColor(data.preRatingSwearing,'User')" class="post-label">Name</div>
        <input type="checkbox" title="bearbeiten" name="editName" class="edit-field" id="edit-name" (change)="onEdited($event, 'name')">
        <p contenteditable="false" id="editorName" [innerHTML]="data.userName | unsafeHtml"></p>
      </div>
      <div [style.border-color]="getRatingColor(data.preRatingEmail,'Email')" class="post-detail">
        <div [style.color]="getRatingColor(data.preRatingEmail,'Email')" class="post-label">E-Mail</div>
        <input type="checkbox" title="bearbeiten" name="editEmail" class="edit-field" id="edit-email" (change)="onEdited($event, 'email')">
        <p contenteditable="false" id="editorEmail" [innerHTML]="data.email | unsafeHtml"></p>
      </div>
      <div class="post-detail">
        <div class="post-label">Datum</div>
        <p>{{data.date}}</p>
      </div>
      <div class="post-detail">
        <div class="post-type">
          <p *ngIf="data.isQuestion" [style.color]="DashColors.RED">F</p>
          <p *ngIf="!data.isQuestion" [style.color]="DashColors.BLUE">A</p>
        </div>

      </div>
    </div>
    <div [style.border-color]="getRatingColor(data.preRatingSwearing,'Body')" class="post-detail">
      <div [style.color]="getRatingColor(data.preRatingSwearing,'Body')" class="post-label">Inhalt</div>
      <input type="checkbox" title="bearbeiten" class="edit-field" name="editBody" id="edit-body" (change)="onEdited($event, 'body')">
      <div title="zum Beitrag" class="forum-link"><a [href]="this.postLinks[2]" target="_blank">🔗</a></div>
      <div class="post-body-wrapper">
        <div id="editorField" contenteditable="false" class="post-body" [innerHTML]="data.body | unsafeHtml"></div>
      </div>
    </div>
  </div>
  <div class="forum-moderation-display-actions-box">
    <div class="moderation-button" id="moderation-delete" title="(STRG + ↓ / ENTF)" [style.background-color]="DashColors.RED" (click)="onDeleteClick()"><p>Löschen</p></div>
    <div class="moderation-button" id="moderation-accept" title="(STRG + ↑ / EINFG)" [style.background-color]="DashColors.BLUE" (click)="onAcceptClick()"><p>Freigeben</p></div>
    <div class="moderation-button" id="moderation-stack" title="(STRG + → / ENDE)" (click)="onStackClick()"><p>➜</p></div>
  </div>
</div>
