input[type="radio"]{
  display: grid;
}
#post-type-all::before{
  content: "Alle";

}
#post-type-all::after{
  content: "Alle";

}
#post-type-kg::before{
  content: "KG";
}
#post-type-kg::after{
  content: "KG";
  color: #951D40;
}
#post-type-me::before{
  content: "ME";
}
#post-type-me::after{
  content: "ME";
  color: #951D40;
}
#post-type-se::before{
  content: "SE";
}
#post-type-se::after{
  content: "SE";
  color: #951D40;
}
#post-type-ws::before{
  content: "WS";
}
#post-type-ws::after{
  content: "WS";
  color: #951D40;
}
#post-type-so::before{
  content: "SO";
}
#post-type-so::after{
  content: "SO";
  color: #951D40;
}
#post-type-so{
  border-radius: 0 5px 5px 0;
}
