<div class="component-box forum-add-moderator-box">
  <div class="forum-add-moderator-title"><p>Moderator hinzufügen</p></div>
  <div class="forum-add-moderator-container">
    <form name="addMod" class="forum-add-moderator-form" (ngSubmit)="onSubmit()">
      <input #modSearch (keydown)="onModKey($event)" class="forum-add-moderator-text-input" id="moderator-name-input" name="addMod" type="text" placeholder="Nutzername / ID" autocomplete="off" required minlength="2">
      <div id="modSuggestions">
        <div class="searchSuggestion" (click)="onModeratorSuggestionClick(mod)" *ngFor="let mod of getModeratorSuggestions(modSearch.value); let i = index;"
             (mouseover)="onMouseOverMod(i)" [ngClass]="{'selected' : i === selectedModIndex}">{{mod}}</div>
      </div>
      <input #forumSearch (keydown)="onForumKey($event)" class="forum-add-moderator-text-input" id="moderator-forum-input" name="addMod" type="text" placeholder="Forum" autocomplete="off" required>
      <div id="forumSuggestions">
        <div class="searchSuggestion" (click)="onForumSuggestionClick(forum)" *ngFor="let forum of getForumSuggestions(forumSearch.value); let i = index;"
             (mouseover)="onMouseOverForum(i)" [ngClass]="{'selected' : i === selectedForumIndex}">{{forum}}</div>
      </div>
      <div class="forum-add-moderator-checkbox-input-box">
        <input class="forum-add-moderator-checkbox-input" id="moderator-copy-rights-input" name="addMod" type="checkbox" title="Ihre eigenen Berechtigungen anwenden" (change)="onRightsCheckboxChange($event)">
      </div>
      <input id="moderator-forum-submit" name="addMod" type="submit" value="Hinzufügen">
    </form>
  </div>
</div>
