.selector-box{
  max-height: calc(100vh - 60px);
  display: grid;
  grid-gap: 0;
  grid-column-gap: 5px;
  padding: 0 5vw;
  overflow-y: auto;
}
.center-inner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dead-end{
  margin: 10px;
  height: 2px;
  background-color: #808080;
}
