<div class="card" (click)="onClick()">
  <div class="head">
    <h1>{{company?.name || "Firmenname Platzhalter"}}</h1>
  </div>
  <div class="col left">
    <p>Größe des Unternehmens: {{company?.groesse || "N/A"}}</p>
    <p>Land: {{company?.land || "N/A"}}</p>
    <p>Typ: {{company?.typ || "N/A"}}</p>
    <p>MedienTyp: {{company?.medienTyp || "N/A"}}</p>
  </div>
  <div class="col right">
    <h3>Kontakt:</h3>
    <p>Email: {{company?.kontaktdaten?.email || "N/A"}}</p>
    <p>Homepage: {{company?.kontaktdaten?.link || "N/A"}}</p>
    <p>Telefon: {{company?.kontaktdaten?.telefon || "N/A"}}</p>
  </div>
  <div class="foot" *ngIf="company?.keywords != ''">
    <p>Keywords: {{company?.keywords || "N/A"}}</p>
  </div>
</div>
