.origin-map-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.origin-map-title{
  display: flex;
  width: calc(100% - 45px);
  height: 30px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #A0A0A0;

  left: -17px;
  top: 5px;

}
.origin-map-title > p{
  margin: 0;
  width: 100%;
  text-align: center;
}

#Ebene_1{
  padding-top: 5px;
  max-height: 90%;
  max-width: 90%;
  margin: 5px;
  border-radius: 5px;
}
path{
  animation: ease-in;
}

#tooltip {
  position: fixed;
  width: 130px;
  border-radius: 5px;
  background-color: #0009;
  color: #fff;
  display: none;
  padding: 5px;
  box-sizing: border-box;
}

#tooltip-header{
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

#tooltip-cities{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tooltip-city{
  width: 100%;
  height: 20px;
  font-size: 10px;
}
.origin-map-total{
  height: 5%;
  font-size: 1vw;
}
.origin-map-total > p{
  margin: 0;
}
