<div class="component-box newsletter-stats-box">
  <div class="verified-box">
    <div class="number-box" [style]="{color: DashColors.Red}">
      <p class="number-m"></p>
      <p class="number-xl" [style]="{width: 'fit-content'}">{{Util.formatNumbers(verified)}}</p>
      <p class="number-m" [style]="{textAlign: 'start'}">{{verified_yesterday >= 0 ? "+" + verified_yesterday : "-" + verified_yesterday}}</p>
    </div>
    <p>Newsletter Abonenten</p>
  </div>
  <div class="not-jet-verified-box">
    <div class="number-box" [style]="{color: DashColors.Blue}">
      <p class="number-s"></p>
      <p class="number-m" [style]="{width: 'fit-content'}">{{Util.formatNumbers(not_jet_verified)}}</p>
      <p class="number-s" [style]="{textAlign: 'start'}">{{not_jet_verified_yesterday >= 0 ? "+" + not_jet_verified_yesterday : "-" + not_jet_verified_yesterday}}</p>
    </div>
    <p>noch nicht Verifiziert</p>
  </div>
</div>
