.page-header{
  /*background-color: #951D40;*/
  background-color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: 50px 250px calc(5% + 5px) repeat(auto-fill,10%);
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}
.page-header-title{
  display: flex;
  height: 50px;
  width: 300px;
}
.page-header-title h1 {
  color: black;
  padding-left: 5px;
  font-size: 45px;
}
.page-header > img{
  width: 50px;
}
.nav-element{
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  padding: 10px 5px 0 5px;
  color: black;
  text-decoration: none;
}
.bericht{
  font-size: large;
  padding: 15px 5px 0 5px;
  margin-right: 5px;
  box-sizing: border-box;
  height: 50px;
  color: #7a1833;
  border: 1px solid #7a1833;
}
.nav-element:hover{
  background-color: #EFEFEF;
}

#loading-bar{
  position: absolute;
  width: 100%;
  height: 5px;
}
#loading-bar-progress{
  position: absolute;
  left: 0;
  height: 5px;
  width: 10%;
  background-color: #7a1833;
}
