<div class="page-header">
  <img src="../../assets/ifismpdashboard.png"/>

  <div *ngFor="let element of navElements">
    <div class="nav-element" [innerText]="element" (click)="setSelected(element)"></div>
  </div>
</div>
<div id="feedback-panel" (click)="onFeedbackClick()">
  <p>Feedback zum Dashboad? Fehlt etwas?</p>
</div>
<div id="loading-bar">
  <div id="loading-bar-progress"></div>
  {{html_err_code}}
</div>
<div *ngIf="SysVars.CURRENT_PAGE == 'UserDetail'" class="print-box" (click)="setSelected('PRINT')">
  <img src="../../../assets/preview.png"/>
</div>
<div *ngIf="SysVars.CURRENT_PAGE == 'PRINT'" class="print-box" (click)="window.print()">
  <img src="../../../assets/pdf-file.png"/>
</div>
<div *ngIf="SysVars.CURRENT_PAGE == 'System'" class="spider-box" (click)="window.open('http://analyse.it-sicherheit.de/api/diagnosis/doCheckUpSite', '_blank')">
  <img src="../../../assets/spider.png"/>
</div>
<div class="logout-box" (click)="onLogoutClick()">
  <img src="../../../assets/logout.png"/>
</div>

