.page-header{
  /*background-color: #951D40;*/
  background-color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: 50px 200px 180px 180px 180px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}
.page-header-title{
  display: flex;
  height: 50px;
  width: 300px;
}
.page-header-title h1 {
  color: black;
  padding-left: 5px;
  font-size: 45px;
}
.page-header > img{
  width: 50px;
}
.nav-element{
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  padding: 10px 5px 0 5px;
}
.nav-element:hover{
  background-color: #EFEFEF;
}
