<div class="component-box chart-box">
  <form class="uni-chart-form">
    <input type="radio" name="time_range" value="all_time" id="uni-range-alltime" checked (change)="getData($event)">
    <input type="radio" name="time_range" value="half_year" id="uni-range-halfyear" (change)="getData($event)">
    <input type="radio" name="time_range" value="month" id="uni-range-month" (change)="getData($event)">
    <input type="radio" name="time_range" value="week" id="uni-range-week" (change)="getData($event)">
    <input type="radio" name="time_range" value="day" id="uni-range-day" (change)="getData($event)">
  </form>
  <div class="chart-canvas-box">
    <canvas id="uni-chart" [ngStyle]="{'visibility': visibility}">{{chart}}</canvas>
  </div>

</div>
