input[type="radio"]{
  display: none;
}
#post-type-date::before{
  content: "Datum";

}
#post-type-date::after{
  content: "Datum";

}
#post-type-clicks::before{
  content: "Clicks";
}
#post-type-clicks::after{
  content: "Clicks";
  color: #951D40;
}

#post-type-date{
  display: grid;
}
#post-type-clicks{
  display: grid;
  border-radius: 0 5px 5px 0;
}
