<div class="component-box post-list-box">
  <form *ngIf="showSearchAndFilters" class="post-type-form">
    <input type="text" id="post-search" [placeholder]="placeholder" (input)="input_search_cb($event)">
    <input type="radio" id="post-type-date" name="type" value="O" checked (change)="input_all_cb()">
    <input type="radio" id="post-type-clicks" name="type" value="W" (change)="input_filter_5_cb()">
  </form>
  <div class="post-list-selector-container" [ngClass]="{'fullsize' : showSearchAndFilters == false}">
    <dash-selector [columnsForm]="'1fr'" padding="0 5px" [zebraColorMode]="true" [dataLoaded]="selectorItemsLoaded" (scrollEnd)="onScrollEnd()"></dash-selector>
  </div>
  <div id="shadow"></div>
</div>
