<div class="forum-post-box" (click)="onClick(data)">
  <div class="post-details">
    <div class="post-detail-group-3">
      <div [style.border-color]="getRatingColor(data.preRatingSwearing, 'User')" class="post-detail">
        <div [style.color]="getRatingColor(data.preRatingSwearing,'User')" class="post-label" [style.background-color]="bgColor">Name</div>
        <p [innerHTML]="data.userName | unsafeHtml"></p>
      </div>
      <div [style.border-color]="getRatingColor(data.preRatingSwearing, 'Title')" class="post-detail">
        <div [style.color]="getRatingColor(data.preRatingSwearing,'Title')" class="post-label" [style.background-color]="bgColor">Titel</div>
        <p >{{data.title}}</p>
      </div>
      <div class="post-detail">
        <div class="post-label" [style.background-color]="bgColor">Datum</div>
        <p>{{data.date}}</p>
      </div>
    </div>
    <div [style.border-color]="getRatingColor(data.preRatingSwearing, 'Body')" class="post-detail">
      <div [style.color]="getRatingColor(data.preRatingSwearing,'Body')" class="post-label" [style.background-color]="bgColor">Inhalt</div>
      <p>{{data.body.replaceAll(regex, "")}}</p>
    </div>
  </div>
</div>
