.clicksByTime-box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.clicksByTime-title{
  display: flex;
  width: calc(100% - 45px);
  height: 30px;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #808080;

  top: 5px;
  left: 5px;
}
.clicksByTime-title > p{
  margin: 0;
  width: 100%;
  text-align: center;
}
.clicksByTime-chart-box{
  height: calc(100% - 45px);
  width: 100%;
  box-sizing: border-box;
}

canvas{
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}
