<div class="page-content" >
  <!--<button id="companie-list-toggle" (click)="this.companyListShown = !this.companyListShown">Toggle Company-List</button>
  <dash-company-lister *ngIf="this.companyListShown"></dash-company-lister>-->

  <dash-chart class="grid-1-1-2-2" chartType="polarArea" desc="Beiträge pro Thema" [data]="[3, 1, 2, 6]"></dash-chart>
  <dash-chart class="grid-1-3-1-4" chartType="bar" desc="Beiträge pro Schema" [labels]="['1','2']" [data]="[1, 3, 6, 2]"></dash-chart>
  <dash-chart class="grid-2-3-2-4" chartType="line" desc="Beiträge pro Lema" [labels]="['1','2','3']" [data]="[1, 6, 2, 6]"></dash-chart>
  <dash-counter class="grid-3-3-3-3" number="90.5%" desc="SSR"></dash-counter>
  <dash-counter class="grid-2-5-2-5" number="13.620" desc="Clicks"></dash-counter>
  <dash-chart class="grid-3-1-4-2" chartType="doughnut" desc="Beiträge pro Gema" [data]="[2, 6, 3, 1]"></dash-chart>
  <dash-chart class="grid-1-5-1-6" chartType="bubble" desc="Beiträge pro LeLema" [labels]="['1','2','3','4']" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="" chartType="line" desc="Beiträge pro KaLema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-podium class="grid-2-6-2-7" [winners]="[ 'IFIS', 'IT Consult Dormager', 'SECUnet' ]" desc="Meiste Beiträge Global"></dash-podium>
  <dash-chart class="" chartType="line" desc="Beiträge pro Lemale" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-counter class="" number="90.5%" desc="SSR2"></dash-counter>
  <dash-chart class="" chartType="bubble" desc="Beiträge pro LeboLema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-podium class="" [winners]="[ 'IFIS', 'IT Consult Dormager', 'SECUnet' ]" desc="Meiste Beiträge Global"></dash-podium>
  <dash-chart class="" chartType="polarArea" desc="Beiträge pro Ththema" [data]="[3, 1, 2, 6]"></dash-chart>
  <dash-chart class="" chartType="doughnut" desc="Beiträge pro Gelema" [data]="[2, 6, 3, 1]"></dash-chart>
  <dash-chart class="" chartType="bubble" desc="Beiträge pro LeLepema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="" chartType="line" desc="Beiträge pro KaLemara" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="" chartType="doughnut" desc="Beiträge pro Gegelema" [data]="[2, 6, 3, 1]"></dash-chart>
  <dash-chart class="" chartType="bubble" desc="Beiträge pro LegeLepema" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="" chartType="line" desc="Beiträge pro KaLegemara" [data]="[1, 2, 3, 6]"></dash-chart>
  <dash-chart class="" chartType="doughnut" desc="Beiträge pro PeGema" [data]="[2, 6, 3, 1]"></dash-chart>
  <dash-chart class="" chartType="bubble" desc="Beiträge pro RLEeLema" [data]="[1, 2, 3, 6]"></dash-chart>

  <!--<dash-counter size="small" number="12341" desc="Angemeldete Firmen" details="Lorem ipsum solor sic adet"></dash-counter>
  <dash-chart size="double" chartType="doughnut" desc="Frimen pro Plan" [data]="[12, 6, 3]" details="Lorem ipsum solor sic adet, in dubio pro reo, canis lacet. Sol adet, ubi est Flavia?"></dash-chart>
  <dash-podium [winners]="['#Home', '#Blockchain', '#superlangerHashtag']" desc="Hashtags mit den meisten Beiträgen"></dash-podium>-->
</div>
