<div class="component-box black-hole-list-box">
  <div class="black-hole-header">
    <div class="black-hole-title">
      <p>{{title}}</p>
    </div>
  </div>
  <div class="legend">
    <div>Datum</div>
    <div>IP-Adresse</div>
    <div>User-Agent</div>
    <div> </div>
    <div> </div>
  </div>
  <div class="black-hole-list-selector-container">
    <dash-selector [columnsForm]="'1fr'" padding="0 5px" [zebraColorMode]="true" [dataLoaded]="selectorItemsLoaded"></dash-selector>
  </div>
  <div id="shadow"></div>
</div>
