.tag-list-item-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.tag-list-item-box:hover{
  border: 1px solid black;
  cursor: pointer;
}

.tag-rel{
  display: flex;
  width: 10%;
  text-align: left;
  align-items: center;
}
.tag-name{
  display: flex;
  width: 60%;
  text-align: center;
  align-items: center;
}
.tag-subs{
  display: flex;
  width: 15%;
  text-align: right;
  align-items: center;
}
.tag-views{
  display: flex;
  width: 15%;
  text-align: right;
  align-items: center;
}
img{
  max-width: 90%;
  height: 20px;
  aspect-ratio: 1;
  padding: 2px;
}
