<div class="component-box tag-chart-box">
  <form class="tag-chart-form">
    <select id="post-type-select" name="post_type" (change)="getData($event)">
      <option label="Views" value="views" selected></option>
      <option label="Beiträge zum Thema" value="count"></option>
    </select>
    <input type="radio" name="time_range" value="all_time" (change)="getData($event)">
    <input type="radio" name="time_range" value="half_year" id="tag-range-halfyear" (change)="getData($event)">
    <input type="radio" name="time_range" value="month" checked id="tag-range-month" (change)="getData($event)">
    <input type="radio" name="time_range" value="week" id="tag-range-week" (change)="getData($event)">
  </form>
  <div class="chart-canvas-box">
    <canvas id="tag_chart">{{chart}}</canvas>
  </div>
</div>
