<div class="component-box clicks-box" *ngIf="isError">
  <p class="component-error-msg">NO DATA</p>
</div>
<div class="component-box clicks-box" *ngIf="!isError">
  <canvas id="c_clicks">{{c_chart}}</canvas>
  <div class="legend-box clicks-content-box">
    <p class="clicks-item-head">Inhaltsaufrufe: {{c_chart_total}}</p>
  </div>

  <canvas id="p_clicks">{{p_chart}}</canvas>
  <div class="legend-box clicks-profile-box">
    <p class="clicks-item-head">Gesamt: {{p_chart_total}}</p>
  </div>
</div>

