.clicks-box {
  display: flex;
  justify-content: center;
}
.clicks-total{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;
}
canvas{
  padding: 5px;
}

p{
  margin: 0;
}
