.clicks-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.clicks-total{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;
}
canvas{
  padding: 5px;
  max-height: 50%;
  max-width: 60%;
}
.legend-box{
  padding: 5px;
  height: calc(50% - 10px);
  width: calc(40% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p{
  margin: 0;
  font-weight: bold;
  font-size: large;
}

