<div class="component-box bounce-box">
  <div class="bounce-rate-box">
    <div class="number-box" [style]="{color: DashColors.RED}">
      <p class="number-m"></p>
      <p class="number-xl" [style]="{width: 'fit-content'}">{{Util.formatNumbers(bounceRate)}}</p>
      <p class="number-m" [style]="{textAlign: 'start'}">%</p>
    </div>
    <p>Absprungrate</p>
  </div>
  <div class="bounce-count-box">
    <div class="number-box" [style]="{color: DashColors.BLUE}">
      <p class="number-s"></p>
      <p class="number-m" [style]="{width: 'fit-content'}">{{totalBounces}}</p>
      <p class="number-s" [style]="{textAlign: 'start'}"></p>
    </div>
    <p>Absprünge gesamt</p>
  </div>
</div>
