.user-plan-log-item-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ffffff00;
}
.user-plan-log-item-box:hover{
  border: 1px solid black;
}

.user-name{
  width: 50%;
  display: flex;
  text-align: right;
  justify-content: center;
}
.user-plan-arrow{
  width: 20px;
  height: 20px;
  text-align: center;
}
.user-new-plan{
  display: flex;
  width: 35%;
  text-align: right;
  justify-content: center;
}
chip-user-plan{
  width: 80%;
}
.user-plan-time{
  width: 15%;
  text-align: right;
}
