<div class="component-box forum-post-list-box">
  <div class="forum-post-list-box-title"><p id="forum-post-list-box-title-text">Unmoderierte Beiträge</p><label class="switch">
    <input type="checkbox" id="moderated-checkbox">
    <span class="slider"></span>
  </label>
  </div>
  <div class="post-list-selector-container">
    <dash-selector [columnsForm]="'1fr'" padding="0 5px" [zebraColorMode]="true" [dataLoaded]="selectorItemsLoaded" (scrollEnd)="onScrollEnd()" ></dash-selector>
  </div>
  <div id="shadow"></div>
</div>
